@{
    ViewData["Title"] = "Gallery";
}

<section class="page-header">
    <div class="container">
        <h1>Gallery</h1>
        <p>Moments, lights, energy and unforgettable nights.</p>
    </div>
</section>

<div class="container pb-5">
    <div class="gallery-grid">

        <div class="gallery-item large">
            <img src="~/images/gallery/1.jpg" />
        </div>

        <div class="gallery-item">
            <img src="~/images/gallery/2.jpg" />
        </div>

        <div class="gallery-item">
            <img src="~/images/gallery/3.jpg" />
        </div>

        <div class="gallery-item">
            <img src="~/images/gallery/4.jpg" />
        </div>

        <div class="gallery-item wide">
            <img src="~/images/gallery/5.jpg" />
        </div>

        <div class="gallery-item">
            <img src="~/images/gallery/6.jpg" />
        </div>

    </div>
</div>
